<div class="row">
    <div class="col-md-12">
        <p>
        Numgrid is a library that produces numerical integration grid for molecules
        based on atom coordinates, atom types, and basis set information. Numgrid can
        be built with C, Fortran, and Python bindings.
        </p>

        <p>
        For more information, see: <a href="https://github.com/dftlibs/numgrid/blob/master/README.md">https://github.com/dftlibs/numgrid/blob/master/README.md</a>.
        </p>
    </div>
</div>
