<div class="row">
    <div class="col-md-12">
        <p>
        XCint integrates the exchange-correlation (XC) energy and the elements of the
        XC potential matrix, as well as their derivatives with respect to electric
        field and/or geometric perturbations. The integration is performed on a
        standard numerical grid.
        </p>

        <p>
        For more information, see: <a href="http://xcint.readthedocs.io">http://xcint.readthedocs.io</a>.
        </p>
    </div>
</div>
